ul {
    list-style-type: none;
}

h1, h2 {
    font-family: sans-serif;
}

#title-h1 {
    background-color: aqua;
}

#smaller-title-h2 {
    background-color: blue;
}

.box {
    border: 5px solid red;
}

#start-paa-dagen {
    color: red;
}

.image-border {
    width: 50;
    height: 50;
    transition: transform .2s;
    border: 2px solid black;
}

.image-border:hover {
    transform: scale(1.5);
}